<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycom.myapp.auth.dao.LoginDao">
    <select id="login" parameterType="map" resultType="com.mycom.myapp.user.dto.UserDto">
        select id, email, password, name, created_at, updated_at
        from users
        where email = #{email};
    </select>

</mapper>
